<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- INTEGRANTES : Lincoln Smith - Ignacio Medina -->
    <!-- INTEGRANTES : Lincoln Smith - Ignacio Medina -->
    <title>Nueva vacuna</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
    ></script>
    <style>
      .contenedor {
        box-sizing: content-box;
        padding: 40px;
        background-color: #f9f7f7;
        position: absolute;
        width: 30%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      #btn {
        margin-top: 30px ;
        margin-bottom: 10px;
        width: 60%;
      }
      #btnVolver{
        width: 60%;
      }
    </style>
  </head>
  <body style="background-color: #112d4e; text-align: center;">
    <div class="contenedor">
      <h2>Registrar una nueva vacuna</h2>
      <br />
      <form action="/ListadoVacunas" method="POST">
        <label for=""></label>
        <input
          class="form-control"
          type="text"
          name="enfermedad"
          placeholder="Nombre Vacuna"
        />

        <button id="btn" class="btn btn-primary">Registrar</button>
      </form>
      <button onclick="location.href='ListadoVacunas'" id="btnVolver" class="btn btn-warning">
        <span class="glyphicon glyphicon-arrow-left"></span> Volver
      </button>
    </div>
  </body>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#myTable").DataTable();
    });
  </script>
</html>
