<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- INTEGRANTES : Lincoln Smith - Ignacio Medina -->
    <!-- INTEGRANTES : Lincoln Smith - Ignacio Medina -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalles paciente</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
    ></script>
    <style>
        #btnVolver{
        width: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        color: black;
        transform: translate(-50%,-50%);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <table class="table table-hover table-condensed" id="myTable">
        <button onclick="location.href='/'" class="btn btn-warning"  id="btnVolver">
            <span class="glyphicon glyphicon-arrow-left"></span> Volver
          </button>
        <caption>
          {%for nombre in nombrePaciente %}
          <h2>Vacunas del Paciente {{ nombre['nombre'] }}</h2>
          {% endfor %}
        </caption>
        <tr>
          <th>Enfermedad</th>
          <th>Fecha de vacunación</th>
        </tr>
        {% for paciente in detalleVacunaPaciente %}
        <tr>
          <td>{{ paciente['enfermedad'] }}</td>
          <td>{{ paciente['fecha_vacuna'] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
<script type="text/javascript">
    $(document).ready( function () {
      $('#myTable').DataTable();
    });
  </script>
